# dependencies
/node_modules

# testing
/coverage
/test-results
/playwright-report

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# local tooling
.superpowers/
